<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PredictBuild Dashboard</title>
    <link rel="preload" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" as="style"
        onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
    </noscript>
    {% extends 'sidebar.html' %}

    {% block content %}
    <div class="welcome-banner">
        <h1 class="welcome-title">MIS INFORMES</h1>
    </div>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-10 content" id="main-content">
                <div class="row mt-5"">
                    <div class=" col-md-6">
                    <h4 class="text-center">DATOS DE LA VIVIENDA</h4>
                    <form id="valuation-form">
                        <div class="form-container">
                            <div class="row g-3">
                                <!-- Primera columna -->
                                <div class="col-md-4">
                                    <label for="ciudad" class="form-label">Ciudad:</label>
                                    <select id="ciudad" class="form-select" onchange="cargarDistritos()">
                                    </select>

                                    <label for="distrito" class="form-label mt-3">Distrito:</label>
                                    <select id="distrito" class="form-select" onchange="cargarBarrios()"></select>
                                    <label for="barrio" class="form-label">Barrio:</label>
                                    <select id="barrio" class="form-select" onchange="cargarCalle()"><option value="Centro">Centro</option></select> 
                                    <label for="calle" class="form-label">Calle:</label>
                                    <select id="calle" class="form-select"><option value="Centro">Centro</option></select>
                                    <label for="tipo-vivienda" class="form-label mt-3">Tipo de vivienda:</label>
                                    <select id="tipo-vivienda" class="form-select">
                                        <option value="0">Estudio</option>
                                        <option value="1">Piso</option>
                                        <option value="2">Chalet adosado</option>
                                        <option value="3">Dúplex</option>
                                        <option value="4">Ático</option>
                                        <option value="5">Chalet pareado</option>
                                        <option value="6">Casa o chalet</option>
                                    </select>
                                    </select>
                                </div>
                                <!-- Segunda columna -->
                                <div class="col-md-4">
                                    <label for="num-banos" class="form-label">Número de baños:</label>
                                    <input id="num-banos" class="form-control" type="number" min="1" step="1"
                                        placeholder="">

                                    <label for="num-habitaciones" class="form-label mt-3">Número de
                                        habitaciones:</label>
                                    <input id="num-habitaciones" class="form-control" type="number" min="1" step="1"
                                        placeholder="">

                                    <label for="metros-cuadrados" class="form-label mt-3">Metros Cuadrados:</label>
                                    <input id="metros-cuadrados" class="form-control" type="number" min="1" step="1"
                                        placeholder="">
                                    <label for="planta" class="form-label">Planta:</label>
                                    <select id="planta" class="form-select">
                                        <option value="0">Sótano</option>
                                        <option value="1">Semi-Sótano</option>
                                        <option value="2">Entreplanta</option>
                                        <option value="3">Bajo</option>
                                        <option value="4">1</option>
                                        <option value="5">2</option>
                                        <option value="6">3</option>
                                        <option value="7">4</option>
                                        <option value="8">5</option>
                                        <option value="9">6</option>
                                        <option value="10">7</option>
                                        <option value="11">8</option>
                                    </select>
                                </div>
                                <!-- Tercera columna -->
                                <div class="col-md-4">
                                    <label for="tiene-ascensor" class="form-label">Tiene ascensor:</label>
                                    <select id="tiene-ascensor" class="form-select">
                                        <option value="0">No</option>
                                        <option value="1">Sí</option>
                                    </select>

                                    <label for="estado-inmueble" class="form-label mt-3">Estado del
                                        inmueble:</label>
                                    <select id="estado-inmueble" class="form-select">
                                        <option value="0">Obra nueva</option>
                                        <option value="1">Segunda Mano/buen estado</option>
                                        <option value="2">Segunda Mano/para reformar</option>
                                        <option value="3">No declara</option>
                                    </select>

                                    <label for="tiene-terraza" class="form-label mt-3">Tiene terraza:</label>
                                    <select id="tiene-terraza" class="form-select">
                                        <option value="0">No</option>
                                        <option value="1">Sí</option>
                                    </select>
                                    <label for="tiene-balcon" class="form-label mt-3">Tiene balcón:</label>
                                    <select id="tiene-balcon" class="form-select">
                                        <option value="0">No</option>
                                        <option value="1">Sí</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-8">
                                    <div class="text-center">
                                        <table class="table tb mt-3">
                                            <thead>
                                                <tr>
                                                    <th>Precio mínimo</th>
                                                    <th>Precio esperado</th>
                                                    <th>Precio máximo</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td id="precio-minimo"></td>
                                                    <td id="precio-esperado"></td>
                                                    <td id="precio-maximo"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-md-4 mt-3">
                                    <div class="text-center">
                                        <table class="table tb1">
                                            <thead>
                                                <tr>
                                                    <th>Precio esperado</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td id="precio-esperado-unico" contenteditable="true">
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-md-5">
                                    <h4 class="text-end">Datos Adicionales</h4>
                                    <input type="text" class="form-control small-textbox" placeholder="Datos" />
                                </div>
                                <div class="col-mt-50">
                                    <div class="text-center mt-4">
                                        <button type="button" class="btn btn-primary" id="correccion-manual"
                                            onclick="window.location.href='/home/generarinf'">GENERAR
                                            INFORME</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-6 filtros-container">
                    <h4 class="text-center">FILTROS</h4>
                    <button class="filter-button">
                        FILTRAR POR
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24">
                            <path d="M3 4h18l-7 10v5l-4 3v-8l-7-10z" />
                        </svg>
                    </button>
                </div>

            </div>
        </div>
    </div>
    </div>

</body>

<script>
    const optionsJson = '{{ options_json|escapejs }}';
    const ciudadSe = JSON.parse('{{ context_json|escapejs }}');

    if (optionsJson.trim() === "") {
        console.error("La variable options_json está vacía.");
    } else {
        const options = JSON.parse(optionsJson);

        const selectCiudad = document.getElementById('ciudad');

        options.forEach(option => {
            const optionElement = document.createElement('option');
            optionElement.value = option.id;
            optionElement.textContent = option.name;
            selectCiudad.appendChild(optionElement);
        });

        const ciudad = ciudadSe.ciudad;
        if (ciudad) {
            const optionToSelect = Array.from(selectCiudad.options).find(option => option.value === ciudad);
            if (optionToSelect) {
                optionToSelect.selected = true;
                selectCiudad.dispatchEvent(new Event('change'));
            }
        }

    }


    function cargarDistritos() {
        const ciudadSeleccionada = document.getElementById('ciudad').value;
        if (!ciudadSeleccionada) {
            document.getElementById('distrito').innerHTML = '';
            console.log("a");
            return;
        }
        console.log(`URL de la solicitud: /home/get_distritos/${encodeURIComponent(ciudadSeleccionada)}/`);
        fetch(`/home/get_distritos/${encodeURIComponent(ciudadSeleccionada)}/`)
            .then(response => response.json())
            .then(data => {
                const distritoSelect = document.getElementById('distrito');
                distritoSelect.innerHTML = '';
                const defaultOption = document.createElement('option');
                defaultOption.textContent = "Seleccione un distrito";
                distritoSelect.appendChild(defaultOption);

                data.distritos.forEach(distrito => {
                    const option = document.createElement('option');
                    option.value = distrito.id;
                    option.textContent = distrito.name;
                    distritoSelect.appendChild(option);
                });

                const distritoSe = JSON.parse('{{ context_json|escapejs }}');
                const distrito = distritoSe.distrito;
                console.log("distrito:", distrito);
                if (distrito) {
                    const seleccion = Array.from(distritoSelect.options).find(option => option.value === distrito);
                    if (seleccion) {
                        seleccion.selected = true;
                        distritoSelect.dispatchEvent(new Event('change'));
                    }
                }
            })
            .catch(error => console.error('Error al cargar los distritos:', error));
    }

    function cargarBarrios() {

        const distritoSeleccionado = document.getElementById('distrito').value;

        if (!distritoSeleccionado) {
            console.log("No se seleccionó ningún distrito.");
            document.getElementById('barrio').innerHTML = '';
            return;

        }
        console.log(`URL de la solicitud: /home/get_barrios/${encodeURIComponent(distritoSeleccionado)}/`);

        fetch(`/home/get_barrios/${encodeURIComponent(distritoSeleccionado)}/`)
            .then(response => response.json())
            .then(data => {
                console.log('Datos recibidos del servidor:', data);

                const barrioSelect = document.getElementById('barrio');
                barrioSelect.innerHTML = '';
                const defaultOption = document.createElement('option');
                defaultOption.textContent = "Seleccione un distrito";
                barrioSelect.appendChild(defaultOption);

                data.barrio.forEach(barrio => {
                    const option = document.createElement('option');
                    option.value = barrio.id;
                    option.textContent = barrio.name;
                    barrioSelect.appendChild(option);
                });
                const distritoSe = JSON.parse('{{ context_json|escapejs }}');
                const barrio = ciudadSe.barrio;
                if (barrio) {
                    const seleccion = Array.from(barrioSelect.options).find(option => option.value === barrio);
                    if (seleccion) {
                        seleccion.selected = true;
                        barrioSelect.dispatchEvent(new Event('change'));
                    }
                }
            })
            .catch(error => console.error('Error al cargar los barrios:', error));
    }
    
    function cargarCalle() {
            const barrioSeleccionado = document.getElementById('barrio').value;

            if (!barrioSeleccionado) {
                console.log("No se seleccionó ningún distrito.");
                document.getElementById('calle').innerHTML = '';
                return;

            }
            console.log(`URL de la solicitud: /home/get_calles/${encodeURIComponent(barrioSeleccionado)}/`);

            fetch(`/home/get_calles/${encodeURIComponent(barrioSeleccionado)}/`)
                .then(response => response.json())
                .then(data => {
                    console.log('Datos recibidos del servidor:', data);

                    const calleSelect = document.getElementById('calle');
                    calleSelect.innerHTML = '';
                    const defaultOption = document.createElement('option');
                    defaultOption.textContent = "Seleccione una calle";
                    calleSelect.appendChild(defaultOption);

                    data.calle.forEach(calle => {
                        const option = document.createElement('option');
                        option.value = calle.id;
                        option.textContent = calle.name;
                        calleSelect.appendChild(option);
                    });
                    const barrioSe = JSON.parse('{{ context_json|escapejs }}');
                    const calle = ciudadSe.calle;
                    if (calle) {
                        const seleccion = Array.from(calleSelect.options).find(option => option.value === calle);
                        if (seleccion) {
                            seleccion.selected = true;
                            calleSelect.dispatchEvent(new Event('change'));
                        }
                    }
                })
                .catch(error => console.error('Error al cargar los barrios:', error));
        }

    document.addEventListener('DOMContentLoaded', function () {
        const ciudadSe = JSON.parse('{{ context_json|escapejs }}');
        console.log("JEISON", ciudadSe)
        if (ciudadSe) {
            document.getElementById('num-banos').value = ciudadSe.num_banos || '';
            document.getElementById('num-habitaciones').value = ciudadSe.num_habitaciones || '';
            document.getElementById('metros-cuadrados').value = ciudadSe.m2 || '';

            const plantaSelect = document.getElementById('planta');
            plantaSelect.value = ciudadSe.planta || '';

            const ascensorSelect = document.getElementById('tiene-ascensor');
            ascensor = ciudadSe.ascensor;
            if (ascensor !== undefined && ascensor !== null) {
                const seleccion = Array.from(ascensorSelect.options).find(option => option.value === String(ascensor));
                if (seleccion) {
                    seleccion.selected = true;
                    ascensorSelect.dispatchEvent(new Event('change'));
                }
            }
            const estadoSelect = document.getElementById('estado-inmueble');
            estadoSelect.value = ciudadSe.estado || '';

            const tipoSelect = document.getElementById('tipo-vivienda');
            tipoSelect.value = ciudadSe.tipo_vivienda || '';

            const terrazaSelect = document.getElementById('tiene-terraza');
            terrazaSelect.value = ciudadSe.terraza || '';

            const balconSelect = document.getElementById('tiene-balcon');
            balconSelect.value = ciudadSe.balcon || '';


            const precio_min = document.getElementById('precio-minimo');
            precio_min.textContent = ciudadSe.precio_minimo || '';

            const precio_max = document.getElementById('precio-maximo');
            precio_max.textContent = ciudadSe.precio_maximo || '';

            const precio_esp = document.getElementById('precio-esperado');
            precio_esp.textContent = ciudadSe.precio_esperado || '';

            const precio_esu = document.getElementById('precio-esperado-unico');
            precio_esu.textContent = ciudadSe.precio_esperado_unico || '';

        }
    });

    document.addEventListener('DOMContentLoaded', function () {
        document.querySelector('.filter-button').addEventListener('click', function () {
            filtrar();
        });
    });
    function filtrar() {
        const welcomeTitle = document.querySelector('.welcome-title');
        if (welcomeTitle) {
            welcomeTitle.textContent = "MIS VENTAS";
        }

        const mainContent = document.getElementById('main-content');
        mainContent.innerHTML = `
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

        <div class="d-flex flex-column align-items-start" style="margin-top: 50px;">
            <div class="d-flex flex-column align-items-start" style="width: 300px;">
                <input 
                    id="filter-input"
                    type="text" 
                    placeholder="Busque por dirección o estado" 
                    class="form-control mb-3"
                />
                <button 
                    class="filter-button2 form-control"
                    onclick="filterTable()"
                >
                    FILTRAR POR
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20">
                        <path d="M3 4h18l-7 10v5l-4 3v-8l-7-10z" />
                    </svg>  
                </button>
            </div>
        </div>

        <div class="table-container" style="text-align: center; margin-top: 20px;">
            <table id="valoraciones-table" class="valoraciones-table" style="width: 80%; margin-left: auto; margin-right: auto; border-collapse: collapse;">
                <thead style="background-color: #ADD8E6;">
                    <tr>
                        <th>Seleccionar</th>
                        <th>Fecha</th>
                        <th>Estado</th>
                        <th>Precio</th>
                        <th>Ubicación</th>
                    </tr>
                </thead>
                <tbody>
                    {% for valoracion in valoraciones %}
                    <tr>
                        <td><input type="checkbox"></td>
                        <td>{{ valoracion.fecha_guardado }}</td>
                        <td>{{ valoracion.modo }}</td>
                        <td></td> <!-- Precio vacío por ahora -->
                        <td>{{ valoracion.ciudad }}</td>
                        <td class="hidden-column">{{ valoracion.planta }}</td>
                        <td class="hidden-column" >{{ valoracion.distrito }}</td>
                        <td class="hidden-column">{{ valoracion.barrio }}</td>
                        <td class="hidden-column">{{ valoracion.calle }}</td>
                        <td class="hidden-column">{{ valoracion.tipo_vivienda }}</td>
                        <td class="hidden-column">{{ valoracion.estado}}</td>
                        <td class="hidden-column">{{ valoracion.m2 }}</td>
                        <td class="hidden-column">{{ valoracion.num_habitaciones }}</td>
                        <td class="hidden-column">{{ valoracion.num_banos }}</td>
                        <td class="hidden-column">{{ valoracion.terraza }}</td>
                        <td class="hidden-column">{{ valoracion.balcon }}</td>
                        <td class="hidden-column">{{ valoracion.ascensor }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="table-container" style="text-align: center; margin-top: 20px;">
            <button class="export-to-excel btn btn-success btn-primary" style="margin-bottom: 10px;">
                Exportar a Excel
            </button>
            <button class="open-record btn btn-info btn-primary" style="margin-bottom: 10px; margin-left: 10px;">Abrir</button>
        </div>
        `;
        document.body.addEventListener('click', function (event) {
            if (event.target && event.target.matches('.export-to-excel')) {
                excelAbrir();
            }
            if (event.target && event.target.matches('.open-record')) {
                excelAbrir();
            }
        });
    };

    function excelAbrir() {
        if (event.target && event.target.classList.contains('export-to-excel')) {
            const viviendaMap = {
                0: "Estudio",
                1: "Piso",
                2: "Chalet adosado",
                3: "Dúplex",
                4: "Ático",
                5: "Chalet pareado",
                6: "Casa o chalet"
            };
            const plantaMap = {
                0: "Sótano",
                1: "Semi-Sótano",
                2: "Entreplanta",
                3: "Bajo",
                4: "1",
                5: "2",
                6: "3",
                7: "4",
                8: "5",
                9: "6",
                10: "7",
                11: "8"
            };
            const ascensorMap = {
                'false': "No",
                'true': "Sí"
            };
            const estadoInmuebleMap = {
                0: "Obra nueva",
                1: "Segunda Mano/buen estado",
                2: "Segunda Mano/para reformar",
                3: "No declara"
            };
            const terrazaBalconMap = {
                'false': "No",
                'true': "Sí"
            };
            const selectedRows = [];

            document.querySelectorAll('tbody tr').forEach(row => {
                const checkbox = row.querySelector('input[type="checkbox"]');
                if (checkbox && checkbox.checked) {
                    const rowData = {
                        fecha_guardado: row.querySelector('td:nth-child(2)').textContent.trim(),
                        modo: row.querySelector('td:nth-child(3)').textContent.trim(),
                        ciudad: row.querySelector('td:nth-child(5)').textContent.trim(),
                        planta: plantaMap[row.querySelector('td:nth-child(6)').textContent.trim()],
                        distrito: row.querySelector('td:nth-child(7)').textContent.trim(),
                        barrio: row.querySelector('td:nth-child(8)').textContent.trim(),
                        calle: row.querySelector('td:nth-child(9)').textContent.trim(),
                        tipo_vivienda: viviendaMap[row.querySelector('td:nth-child(10)').textContent.trim()],
                        estado_inmueble: estadoInmuebleMap[row.querySelector('td:nth-child(11)').textContent.trim()],
                        metros_cuadrados: row.querySelector('td:nth-child(12)').textContent.trim(),
                        num_habitaciones: row.querySelector('td:nth-child(13)').textContent.trim(),
                        num_banos: row.querySelector('td:nth-child(14)').textContent.trim(),
                        terraza: row.querySelector('td:nth-child(15)').textContent.trim(),
                        balcon: row.querySelector('td:nth-child(16)').textContent.trim(),
                        ascensor: row.querySelector('td:nth-child(17)').textContent.trim(),
                    };
                    selectedRows.push(rowData);
                    console.log("DATOS DEL EXCEL", rowData)
                }
            });
            
            if (selectedRows.length === 0) {
                alert('Por favor, seleccione al menos una fila para exportar.');
                return;
            }

            fetch('/home/exportar_excel/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCsrfToken(),
                },
                body: JSON.stringify({ seleccionados: selectedRows }),
            })
                .then(response => response.blob())
                .then(blob => {
                    const url = window.URL.createObjectURL(blob);
                    const a = document.createElement('a');
                    a.href = url;
                    a.download = 'valoraciones_seleccionadas.xlsx';
                    document.body.appendChild(a);
                    a.click();
                    a.remove();
                })
                .catch(error => console.error('Error al exportar el archivo:', error));
        }

        if (event.target && event.target.classList.contains('open-record')) {
            const selectedRows = [];

            document.querySelectorAll('tbody tr').forEach(row => {
                const checkbox = row.querySelector('input[type="checkbox"]');
                if (checkbox && checkbox.checked) {
                    const rowData = {
                        fecha_guardado: row.querySelector('td:nth-child(2)').textContent.trim(),
                        modo: row.querySelector('td:nth-child(3)').textContent.trim(),
                        ciudad: row.querySelector('td:nth-child(5)').textContent.trim(),
                        planta: row.querySelector('td:nth-child(6)').textContent.trim(),
                        distrito: row.querySelector('td:nth-child(7)').textContent.trim(),
                        barrio: row.querySelector('td:nth-child(8)').textContent.trim(),
                        calle: row.querySelector('td:nth-child(9)').textContent.trim(),
                        tipo_vivienda: row.querySelector('td:nth-child(10)').textContent.trim(),
                        estado_inmueble: row.querySelector('td:nth-child(11)').textContent.trim(),
                        metros_cuadrados: row.querySelector('td:nth-child(12)').textContent.trim(),
                        num_habitaciones: row.querySelector('td:nth-child(13)').textContent.trim(),
                        num_banos: row.querySelector('td:nth-child(14)').textContent.trim(),
                        terraza: row.querySelector('td:nth-child(15)').textContent.trim(),
                        balcon: row.querySelector('td:nth-child(16)').textContent.trim(),
                        ascensor: row.querySelector('td:nth-child(17)').textContent.trim(),
                    };
                    selectedRows.push(rowData);
                    console.log("DATOS SELECCIONADOS ",selectedRows)
                }
            });

            if (selectedRows.length === 0) {
                return;
            }

            const selectedRecord = selectedRows[0];
            const mainContent = document.getElementById('main-content');
            mainContent.innerHTML = `
            <h3>Detalles de la Valoración</h3>
            <div class="row">
                <div class="col-md-6">
                    <h4 class="text-center">DATOS DE LA VIVIENDA</h4>
                    <form id="valuation-form">
                        <div class="form-container">
                            <div class="row g-3">
                                <!-- Primera columna -->
                                <div class="col-md-4">
                                    <label for="ciudad" class="form-label">Ciudad:</label>
                                    <input type="text" id="ciudad" class="form-control" value="${selectedRecord.ciudad}" readonly>

                                    <label for="distrito" class="form-label mt-3">Distrito:</label>
                                    <input type="text" id="distrito" class="form-control" value="${selectedRecord.distrito}" readonly>

                                    <label for="tipo-vivienda" class="form-label mt-3">Tipo de vivienda:</label>
                                    <input type="text" id="tipo-vivienda" class="form-control" value="${selectedRecord.tipo_vivienda}" readonly>

                                    <label for="barrio" class="form-label">Barrio:</label>
                                    <input type="text" id="barrio" class="form-control" value="${selectedRecord.barrio}" readonly>

                                    <label for="calle" class="form-label">Calle:</label>
                                    <input type="text" id="calle" class="form-control" value="${selectedRecord.calle}" readonly>
                                </div>
                                <!-- Segunda columna -->
                                <div class="col-md-4">
                                    <label for="num-banos" class="form-label">Número de baños:</label>
                                    <input type="number" id="num-banos" class="form-control" value="${selectedRecord.num_banos}" readonly>

                                    <label for="num-habitaciones" class="form-label mt-3">Número de habitaciones:</label>
                                    <input type="number" id="num-habitaciones" class="form-control" value="${selectedRecord.num_habitaciones}" readonly>

                                    <label for="metros-cuadrados" class="form-label mt-3">Metros Cuadrados:</label>
                                    <input type="number" id="metros-cuadrados" class="form-control" value="${selectedRecord.metros_cuadrados}" readonly>

                                    <label for="planta" class="form-label">Planta:</label>
                                    <input type="text" id="planta" class="form-control" value="${selectedRecord.planta}" readonly>
                                </div>
                                <!-- Tercera columna -->
                                <div class="col-md-4">
                                    <label for="tiene-ascensor" class="form-label">Tiene ascensor:</label>
                                    <input type="text" id="tiene-ascensor" class="form-control" value="${selectedRecord.ascensor}" readonly>

                                    <label for="estado-inmueble" class="form-label mt-3">Estado del inmueble:</label>
                                    <input type="text" id="estado-inmueble" class="form-control" value="${selectedRecord.estado_inmueble}" readonly>

                                    <label for="tiene-terraza" class="form-label mt-3">Tiene terraza:</label>
                                    <input type="text" id="tiene-terraza" class="form-control" value="${selectedRecord.terraza}" readonly>

                                    <label for="tiene-balcon" class="form-label mt-3">Tiene balcón:</label>
                                    <input type="text" id="tiene-balcon" class="form-control" value="${selectedRecord.balcon}" readonly>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-8">
                                    <div class="text-center">
                                        <table class="table tb mt-3">
                                            <thead>
                                                <tr>
                                                    <th>Precio mínimo</th>
                                                    <th>Precio esperado</th>
                                                    <th>Precio máximo</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>${selectedRecord.precio}</td>
                                                    <td>${selectedRecord.precio}</td>
                                                    <td>${selectedRecord.precio}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-md-4 mt-3">
                                    <div class="text-center">
                                        <table class="table tb1">
                                            <thead>
                                                <tr>
                                                    <th>Precio esperado</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td id="precio-esperado-unico" contenteditable="true">${selectedRecord.precio}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-md-5">
                                    <h4 class="text-end">Datos Adicionales</h4>
                                    <input type="text" class="form-control small-textbox" placeholder="" readonly />
                                </div>
                                <div class="col-mt-50">
                                    <div class="text-center mt-4">
                                        <button type="button" class="btn btn-primary" id="correccion-manual"
                                            onclick="window.location.href='/home/generarinf'">GENERAR
                                            INFORME</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-6 filtros-container">
                    <h4 class="text-center">FILTROS</h4>
                    <button class="filter-button">
                        FILTRAR POR
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24">
                            <path d="M3 4h18l-7 10v5l-4 3v-8l-7-10z" />
                        </svg>
                    </button>
                </div>
            </div>
        `;
            document.body.addEventListener('click', function (event) {
                if (event.target && event.target.matches('.filter-button')) {
                    filtrar();
                }
            });
        }
    };

    function getCsrfToken() {
        return document.querySelector('[name=csrfmiddlewaretoken]').value;
    }


    function filterTable() {
        var input = document.getElementById("filter-input");
        var filter = input.value.toLowerCase();
        var table = document.getElementById("valoraciones-table");
        var rows = table.getElementsByTagName("tr");

        for (var i = 1; i < rows.length; i++) {
            var cells = rows[i].getElementsByTagName("td");
            var estado = cells[2].textContent.toLowerCase();
            var ubicacion = cells[4].textContent.toLowerCase();

            if (estado.includes(filter) || ubicacion.includes(filter)) {
                rows[i].style.display = "";
            } else {
                rows[i].style.display = "none";
            }
        }
    }

</script>

<style>
    .hidden-column {
        display: none;
    }

    .container-fluid {
        padding: 0;
    }

    .welcome-banner {
        width: 100%;
        height: 105px;
        background-color: white;
        text-align: left;
        position: relative;
        margin: 0;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        z-index: 1;
    }


    .welcome-title {
        margin: 0;
        font-size: 35px;
        font-weight: bold;
        color: blue;
        line-height: 100px;
    }

    @media (max-width: 768px) {
        .welcome-title {
            font-size: 1.5rem;
        }
    }

    .form-container {
        margin: 0 auto;
        padding: 20px 40px;
        max-width: 100%;
        background: #dcdcdc;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
    }

    .btn-primary {
        color: #ba31dd;
        font-weight: bold;
        background-color: #ffffff;
        border: none;
    }

    body {
        background-color: #dcdcdc;

    }

    h1,
    h4.text-center,
    h4.text {
        color: blue;
        text-decoration: underline;
        font-weight: bold;
    }

    h1,
    h4.text-center,
    h4.text {
        color: blue;
        text-decoration: underline;
        font-weight: bold;
    }

    .tb {
        background: #ffffff;
    }

    .tb1 {
        margin-left: 20px;
        background: #ffffff;
        width: 200px;
    }

    .filter-button2 {
        background: #d4d9fc;
        color: #000;
        margin-left: 200px;
    }

    .filtros-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 20px auto;
    }

    .filter-button {
        background: #d4d9fc;
        color: #000;
        margin-top: 10px;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .filter-button:hover {
        background: #c0c7f7;
    }

    .filter-button svg {
        fill: #000;
    }

    .small-textbox {
        width: 500px;
        margin-left: 45px;
        margin-right: 0;
        height: 100px;
    }

    .btn-primary {
        color: #ba31dd;
        font-weight: bold;
        background-color: #ffffff;
        border: none;
    }
</style>

</html>
{% endblock %}